# Python
__pycache__/
*.py[cod]
*.log

# Virtual environment
venv/
.env/

# Credentials & secrets
.env
credentials.json
preferences.json

# VS Code
.vscode/

# Mac/Windows system files
.DS_Store
Thumbs.db
